<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= category %></title>
</head>
<body>
  <%- include('./partials/nav') %>
  <h1><%= category %></h1>
  <% menuItems.forEach((dish) => { %>
    <h4><% if (dish.rating === 5) {%>
            ⭐
        <% } %>
        <%= dish.name %>: $<%= dish.price %>, Rating: <%= dish.rating %> Stars
    </h4>
    <p><em><%= dish.details %></em></p>
  <% }) %>
</body>
</html>