<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= category %></title>
</head>
<body>
  <%- include('./partials/nav') %>
  <h1><%= category %></h1>
  <% menuItems.forEach((dish) => { %>
    <h3><%= dish.name %>
        <% if (dish.rating === 5) {%>
            ⭐
        <% } %>
    </h3>
    <h4>$<%= dish.price %></h4>
    <p>Rating: <%= dish.rating %></p>
    <p><em><%= dish.details %></em></p>
  <% }) %>
</body>
</html>