<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
</head>
<body>
  <%- include('./partials/nav') %>
  <h1>Full Menu</h1>
  <h2>Mains</h2>
  <% menu.forEach((dish) => { %>
    <% if (dish.category === "mains") { %>
        <h3><%= dish.name %>
          <% if (dish.rating === 5) {%>
              ⭐
          <% } %>
        </h3>
        <h4>$<%= dish.price %></h4>
        <p>Rating: <%= dish.rating %></p>
        <p><em><%= dish.details %></em></p>
    <% } %>
  <% }) %>
  <h2>Sides</h2>
  <% menu.forEach((dish) => { %>
    <% if (dish.category === "sides") { %>
        <h3><%= dish.name %>
          <% if (dish.rating === 5) {%>
            ⭐
          <% } %>
        </h3>
        <h4>$<%= dish.price %></h4>
        <p>Rating: <%= dish.rating %></p>
        <p><em><%= dish.details %></em></p>
    <% } %>
  <% }) %>
  <h2>Desserts</h2>    
  <% menu.forEach((dish) => { %>
    <% if (dish.category === "desserts") { %>
        <h3><%= dish.name %>
          <% if (dish.rating === 5) {%>
              ⭐
          <% } %>
        </h3>
        <h4>$<%= dish.price %></h4>
        <p>Rating: <%= dish.rating %></p>
        <p><em><%= dish.details %></em></p>
    <% } %>
  <% }) %>
</body>
</html>