<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
</head>
<body>
  <%- include('./partials/nav') %>
  <h1>Full Menu</h1>

  <% Object.keys(menu).forEach((category) => { %>
  <h2><%= category.split(' ').map(el => el[0].toUpperCase() + el.slice(1)).join(' ') %></h2>
  <% menu[category].forEach((dish) => { %>
        <h4>
        <% if (dish.rating === 5) {%>
          ⭐
        <% } %>
        <%= dish.name %>: $<%= dish.price %>, Rating: <%= dish.rating %> Stars

        </h4>
        <p><em><%= dish.details %></em></p>
    <% }) %>
  <% }) %>
</body>
</html>